/* _personal-forms.scss */
/* Formulario */

.inputs__container {
    max-width: 729px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(4,62px);
    column-gap: 20px;

    .inputs__column {
        display: grid;
        grid-template-rows: repeat(4,58px);
        row-gap: 20px;
    }
}


@media only screen and (max-width: 800px) {

    .title--fw400 {
        display: block;
    }

    .inputs__container {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}

.mrg__b--30px {
    margin-bottom: 30px;
}