
  <aside class="menu">
  <ul class="aside list_unstyled">
    <li>
      <button class="homepage first_level btn btn-toggle collapsed"  data-bs-toggle="collapse" data-bs-target="#start-collapse" aria-expanded="false">
          Inicio<i class="arrow_menu"></i> 
        </button>
        <ul class="second_level_wrapper btn-toggle-nav collapse" id="start-collapse">
          <li><a href="#" class="second_level">Solicitar Asistencia</a></li>
          <li><a href="#" class="second_level">Pedir Reintegro</a></li>
        </ul>
    </li>
    <li>
      <button class="my-account first_level btn btn-toggle collapsed current-view" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Mi Cuenta <i class="arrow_menu"></i>
        </button>
        <ul class="second_level_wrapper btn-toggle-nav collapse" id="account-collapse">
          <li><a href="#" class="second_level">Datos Personales</a></li>
          <li><a href="#" class="second_level">Grupo de Viaje</a></li>
          <li><a href="#" class="second_level">Renovación Automática</a></li>
          <li><a href="#" class="second_level">Mi Historial</a></li>  
        </ul>
    </li>
      <button class="my-ac first_level btn btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#assistCard-collapse" aria-expanded="false">
          Mi Assist Card <i class="arrow_menu"></i>
        </button>
        <ul class="second_level_wrapper btn-toggle-nav collapse" id="assistCard-collapse">
          <li><a href="#" class="second_level">Condiciones generales</a></li>
          <li><a href="#" class="second_level">Condiciones particulares</a></li>
        </ul>
    </li>
  </ul>
</aside>