<!DOCTYPE html>
<html lang="es">
    <head>

        {% block meta %}
            {# Bloque metatags #}
            {% include "layout/_metatags.njk" %}

        {% endblock %}

        {# <title>Asistencia al Viajero - Más que un seguro de viaje ASSIST CARD.</title> #}
        <link rel="stylesheet" type="text/css" media="screen" href="content/css/vendors/bootstrap-5.0.2/bootstrap.css">

        {% block css %}

            {# Bloque de estilos por página #}

        {% endblock %}

    </head>
    <body>

        {% block content %}
        
            {# main content block #}

        {% endblock %}

            <script src="content/js/vendors/bootstrap-5.0.2/bootstrap.bundle.js"></script>
            
        {% block js %}

            <script type="text/javascript" src="content/js/aside-menu.js"></script>
            {# Bloque de js por página #}

        {% endblock %}
        
    </body>
</html>