{# LOADER para las páginas #}
<section id="loader__body" class="d-none loader">
    <figure class="figure">
        <img class="gif" src="content/img/gifs/homer-loader.gif" alt="loader">
        <figcaption class="loading">loading</figcaption>
    </figure>
</section>
