{% import "../components/_icons-link.njk" as iconsLink %}
{% import "../macros/_button.njk" as buttons %}

<header class="header">
    <nav class="header__nav">
        {{ iconsLink.acLogoLink (href="#", class="link", src="content/img/icons/ac-logo.svg")}}
        <div class="header__signup">
        <span class="header__text">¿Nuevo en ASSIST CARD?</span>
        {{ buttons.linkButton ("index.html", "link__button", "registrate")}}
        </div>
    </nav>
</header>