//   -----------------------------------------------------------------------------
//   This file contains very basic styles.
//   -----------------------------------------------------------------------------

//   C O L O R S -----------------------------------------------------------------
$white: #ffffff;
$bs-light: #f8f9fa;
$lipstick: #d82028; // assist card red
$bs-light-gray: #d8d8d8;
$bs-gray: #565656;
$bs-dark-gray: #474747;
$bs-black: #323232;
$bs-darky: #616161;
$bs-dark: #212529;
$bs-black: #000000;
$bs-light-blue: #ecf6ff;
$bs-transparent: transparent;
$blueSimpson: #3E82FC;
$yellowSimpson: #fbfb1c;
$blackSimpson: #161614;

$bs-black-op70: rgba(0, 0, 0, 0.7);
$bs-black-op50: rgba(0, 0, 0, 0.5);
$bs-black-op20: rgba(0, 0, 0, 0.2);
$bs-gray-op20: rgba(26, 24, 36, 0.2);

// Colores para Bootstrap
$bs-black: #000000;
$brown: #5e0707;
$red: rgb(203, 2, 2);
$orange: rgb(247, 58, 11);
$yellowSimpson: #fbfb1c;
$green: green;
$blue: blue;
$violet: rgb(182, 0, 182);
$gray: gray;
$light-blue: #00fffb;
$light-green: #00ff00;

// F O N T - S I Z E
$fs-10: 0.625rem;
$fs-12: 0.75rem;
$fs-16: 1rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
$fs-28: 1.75rem;
$fs-32: 2rem;

// F O N T - W E I G H T
$fw-600: 600;
$fw-700: 700;

// R E S E T -----------------------------------------------------------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // border: 0.01em solid rgb(160, 160, 255); // Remover terminado el proyecto

    &:focus {
        outline: 4px solid $bs-light-blue !important;
    }

    // SCROLLBAR -----------------------------------------------------------------

    scrollbar-width: thin;
    scrollbar-color: $bs-dark-gray transparent;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: $blueSimpson;
        border-radius: 0.625rem;
    }

    &::-webkit-scrollbar-thumb {
        background: $bs-dark-gray;
        border-radius: 0.625rem;
    }
}

// Define el color de fondo de los campos autocompletados. 

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

// input[data-autocompleted] {
//     background-color: transparent !important;
// }

// Remueve las flechas de los inputs de números.

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

// S I Z E ------------------------------------------------------------------- */
    
    $max-width: 1228px;
    // $min-width: 700px;
    $sidebar-max-width: 228px;
    $wd-200: 200px;
    $wd-354: 354px;
    $wd-479: 479px;

    $min-height: 62.5rem;
    // $min-height: 100vh;

// L I N E   H E I G H T ----------------------------------------------------- */

    $lh-34: 2.125rem;

// M A R G I N --- P A D D I N G ---------------------------------------------- */

    $m10: 0.625rem;
    $m16: 1rem;
    $m28: 1.75rem;
    $m36: 2.25rem;
    $m42: 2.625rem;

// BODY DEL PROYECTO ------------------------------------------------------------ */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


