//+++++++++++++++++++++++++++++++
//           _form.css      
//+++++++++++++++++++++++++++++++
.section {
    grid-area: content;
    padding: 130px 10px 30px 10px;
    // background-color: #fbeded;
}

.title {
    margin: 0 0 1.75rem 0;
    font-size: 1.25rem;

    .title--fw400 {
        font-weight: 400;
    }
}

@media only screen and (min-width: 720px) {
    html {
        // font-size: 10px;
    }
}