//+++++++++++++++++++++++++++++++
//           _index.css      
//+++++++++++++++++++++++++++++++

.section {
    padding: 130px 10px 30px 10px;
    background-color: #fbeded;
}

.title {
    margin: 0 0 28px 0;
    font-size: 1.25rem;

    .title--fw400 {
        font-weight: 400;
    }
}

.cards-container {
    max-width: 729px;
    min-height: 472px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 24px 21px;
    
        .cards {
        position: relative;
        max-width: 100%;
        min-height: 100%;
        padding: 40px 16px 34px 16px;
        border: 1px solid $bs-black-op20;
        border-radius: 10px;
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: 16px;

        &:hover {
            border: 1px solid $bs-black;
        }

        .cards__link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            cursor: pointer;
        }

        .cards__title {
            margin: 0;
            line-height: 19px;
            min-height: 21px;
            font-size: 1rem;
            font-weight: 600;
            color: $lipstick;
        }

        .cards__subtitle {
            margin: 0;
            min-height: 54px;
            line-height: 17px;
            font-size: 0.875rem;
            font-weight: 400;
            color: $bs-gray;
        }

        .cards__text {
            display: block;
            padding: 0 42px 0 0;
            min-height: 36px;
            font-size: 0.75rem;
            color: $bs-black-op50;
        }
        .cards_arrow {
            position: absolute;
            bottom: 22px;
            right: 16px;
            width: 13px;
            height: 13px;
            margin: 0;
            background: $bs-dark;
            border-radius: 50%;
        }
    }
}


@media only screen and (max-width: 750px) {

    .title--fw400 {
    display: block;
    }

    .cards-container {
        max-width: 100%;
        min-height: 472px;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 24px 0;
    }
}

.mrg__b--30px {
    margin-bottom: 30px;
}