.separation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: $wd-354;
    height: $m16;

    .hr {
        margin: 0 4px;
        width: 100%;

    }

    .circle {
        // margin: 0 2px;
        width: 17px;
        height: 9px;
        border-radius: 50%;
        border: 1px solid $bs-gray-op20;
    }

}