// -----------------------------------------------------------------------------
// Specific home Body styles
// -----------------------------------------------------------------------------
.form-control {
    border: 0;
    border-bottom: 1px solid #5e5e5e;
    border-radius: 0%;

    // &:focus {
    // box-shadow: none;
    // }
}