/* _simpson.scss */
/* Contenido de la página */ 

.main_simpson {
    width: 100%;
    max-width: $max-width;
    display: grid;
    grid-template-columns: 1fr; // aside-menu - contenido página
    grid-auto-rows: 90px;
    grid-gap: 10px;
    padding: 10px;
    background: $blueSimpson;
    color: $blueSimpson;

    .simpson__list__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 1px solid $bs-black;
        border-radius: 25px;

        .article {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            max-width: 245px;

            .img {
                display: inline-block;
                width: 70px;
                height: 70px;
                margin-right: 35px;
                background: $bs-darky;
                border-radius: 50%;
            }

            .div {
                min-width: 120px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }

        .name {
            margin: 0 auto 0 0;
            // font-family: "Simpson";
            font-size: $fs-32;
            font-weight: $fw-600;
            color: $blueSimpson;
            text-transform: capitalize;
            // -webkit-text-stroke-width: 2px;
            // -webkit-text-stroke-color: $blackSimpson;
        }
    }
}

@media (min-width: 560px) {

    .main_simpson {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 140px;
        grid-gap: 15px;
    }

        .name {
            // font-family: "Simpson";
            font-size: 1rem;
            font-weight: $fw-600;
        }

}

@media (min-width: 890px) {

    .main_simpson {
        grid-template-columns: 1fr 1fr 1fr;    
        grid-auto-rows: 200px;
        grid-gap: 15px;
    }

        .name {
            // font-family: "Simpson";
            font-size: 6rem;
            font-weight: $fw-600;
        }
}
