{% macro simpleButton(type="", role="button", id="button", button_class, button_text) %}
    <button type="{{ type }}" role="{{ role }}" id="{{ id }}" class="{{ button_class }} btn">{{ button_text}}</button>
{% endmacro %}

{# Botón en link #}
{% macro linkButton(a_link, a_class, a_text) %}
    <a href="{{ a_link }}" class="{{ a_class }}" role="button">{{ a_text }}</a>
{% endmacro %}

{# Botón para loguearse con redes#}
{% macro loginButton(type="button", button_class, class="icon", button_text) %}
    <button type="{{ type }}" class="btn {{ button_class }}">
        <i class="{{ class }}"></i>
        {{ button_text}}
    </button>
{% endmacro %}
