{% import "macros/_button.njk" as buttons %}

{# Card de Asistencias y Reintegros #}
{% macro cardHome (card_link, card_title, card_subtitle, card_text) %}
    {% for card in cardsItems %}
        <article class="cards">
            <a class="cards__link" href="{{ en.card.card_link }}" role="button"></a>
            <h6 class="cards__title">{{ en.card.card_title }}</h6>
            <p class="cards__subtitle">{{ en.card.card_subtitle }}</p>
            <span class="cards__text">{{ en.card.card_text }}</span>
            <p class="cards_arrow"></p>
        </article>
    {% endfor %}
{% endmacro %}

{# Card de modal Delete #}
{% macro cardModalDelete (modal__card, id="id", class="class") %}
    <div class="{{ modal__card }}">
        <p id="{{ id }}" class="{{ class }}"></p>
        <div class="modal__buttons">
            {{buttons.simpleButton(type="",role="button",id="no","modal__btn--no","no")}}
            {{buttons.simpleButton(type="",role="button",id="yes","modal__btn--yes","si")}}
        </div>
    </div>
{% endmacro %}

