{# extending #}
{% extends "layout/_default.njk" %}
<!-- Main CSS file por ahora lo ponemos aca pero tenemos que hacer un condicional en el layout creo, 
veamos, porque desarrollo también tiene que cargar los estilos de cada página fuera del layout-->

{# import macros #}
{# {% import "macros/_button.njk" as btn %} #}

{# Bloque de estilos especificos de éstá página #}
{% block css %}
    <link rel="stylesheet" type="text/css" href="content/css/home.css">
{% endblock %}
<!-- endbuild -->


{% block content %}

<main class="main">  

    {% block icon %}
        {% include "components/_icons.njk" %}
    {% endblock %}

    <!-- Include Header-Navigation -->
    {% block nav %}
        {% include "layout/_navigation.njk" %}
    {% endblock %}

    <article class="content">
        <!-- Aside Menú -->
        {% block aside %}
            {% include "layout/_blank-aside-menu.njk" %}
        {% endblock %}
        <!-- Contenido de la página -->
        <section class="section">
            <a href="index.html">A dónde me lleva esto?</a>
            <h1>Qué onda todo por acá? Todo bien?</h1>
        </section>
    </article>    

    <!-- Include Footer -->
    {% block footer %}
        {% include "layout/_footer.njk" %}
    {% endblock %}
</main>

{% endblock %}

{# footer específico de la página #}

{% block js %}
    {# Bloque de estilos especificos de éstá página #}
    <script type="text/javascript" src="content/js/index.js"></script>
    <script>
        var hola = "Hola mundo";
        console.log(hola);
    </script>
{% endblock %}