{# extending #}
{% extends "layout/_default.njk" %}
<!-- Main CSS file por ahora lo ponemos aca pero tenemos que hacer un condicional en el layout creo, 
veamos, porque desarrollo también tiene que cargar los estilos de cada página fuera del layout-->

{# Bloque de estilos especificos de éstá página #}
{% block css %}
    <link rel="stylesheet" type="text/css" href="content/css/index.css">
{% endblock %}
<!-- endbuild -->

{% block content %}

{# Variables #}
    {% set lang = pt  %}


    {# Import de compoenentes y macros #}
    {# {% import "macros/_card-home.njk" as tarjeta %} #}
    {% import "macros/_inputs.njk" as inputs %}

    {% block icon %}
        {% include "components/_icons.njk" %}
    {% endblock %}

    <!-- Include Header-Navigation -->
    {% block nav %}
        {% include "layout/_navigation.njk" %}
    {% endblock %}

    <article class="grid-aside">
        <!-- Aside Menú -->
        {% block aside %}
            {% include "layout/_aside-menu.njk" %}
        {% endblock %}

        <!-- Contenido de la página -->
        <section class="section">
            <h4 class="title">
                <span class="">{{ lang.renovas.saludo | capitalize }}</span>
                <span class="">{{ lang.renovas.nombre | capitalize }}</span>
                <span class="title--fw400">¿en qué podemos ayudarte?</span>
            </h4>
            <section class= "cards-container">
                {# Chequear con JSON el inner para en #}
                    {% for card in lang.renovas.cardsItems %}
                        {% include "components/_tarjeta.njk" %}
                    {% endfor %}
            </section>    
        </section>
    </article>

    <!-- Include Footer -->
    {% block footer %}
        {% include "layout/_footer-links.njk" %}
    {% endblock %}

{% endblock %}

{# footer específico de la página #}

{% block js %}
    {# Bloque de estilos especificos de éstá página #}
    <script type="text/javascript" src="content/js/index.js"></script>
    <script>
        var hola = "Hola mundo";
        console.log(hola);
    </script>
{% endblock %}