{# extending #}
{% extends "layout/_default.njk" %}
<!-- Main CSS file por ahora lo ponemos aca pero tenemos que hacer un condicional en el layout creo, 
veamos, porque desarrollo también tiene que cargar los estilos de cada página fuera del layout-->

{# Bloque de estilos especificos de éstá página #}
{% block css %}
    <link rel="stylesheet" type="text/css" href="content/css/login.css">
{% endblock %}
<!-- endbuild -->

{% block content %}

{# Variables #}
{# {% set nombre = "Juan" %}
{% set saludo = "Hola, " %} #}
    {% set lang = en %}


    {# Import de compoenentes y macros #}
    {% import "macros/_button.njk" as buttons %}
    {% import "macros/_inputs.njk" as inputs %}

    {% block icon %}
        {% include "components/_icons.njk" %}
    {% endblock %}

    <!-- Include Header-Navigation -->
    {% block nav %}
        {% include "layout/_navigation.njk" %}
    {% endblock %}

    <article class="grid-center">

        {% block loginSection %}
            {% include "partials/login/_login-section.njk" %}
        {% endblock %}

        <div class="separation mrg__b--16">
            <hr class="hr">
            <span class="circle"></span>
            <hr class="hr">
        </div>

        {% block loginSocial %}
            {% include "partials/login/_login-social.njk" %}
        {% endblock %}
        
    </article>

{% endblock %}

{# footer específico de la página #}

{% block js %}
    {# Bloque de estilos especificos de éstá página #}
    <script type="text/javascript" src="content/js/index.js"></script>
    <script>
        var hola = "Hola mundo";
        console.log(hola);
    </script>
{% endblock %}