{# extending #}
{% extends "layout/_default.njk" %}
<!-- Main CSS file por ahora lo ponemos aca pero tenemos que hacer un condicional en el layout creo, 
veamos, porque desarrollo también tiene que cargar los estilos de cada página fuera del layout-->

{# Bloque de estilos especificos de éstá página #}
{% block css %}
    <title>The Simpsons | Proyecto</title>
    <link rel="icon" type="image/x-icon" href="content/img/icons/ac-favicon-min.ico">
    <link rel="stylesheet" type="text/css" href="content/css/simpson.css">
{% endblock %}
<!-- endbuild -->

{% block content %}

    {% block loader %}
        {% include "layout/_loader-simpson.njk" %}
    {% endblock %}

{# Variables #}
    {% set lang = en %}

    {# Import de compoenentes y macros #}
    {% import "macros/_card-home.njk" as cards %}
    {% import "macros/_inputs.njk" as inputs %}
    {% import "macros/_button.njk" as buttons %}

    {% block header %}
        {% include "layout/_simpson-header.njk" %}
    {% endblock %}

    <section id="main_simpson" class="main_simpson">
        {{buttons.simpleButton(type="",role="button",id="reset","btn-reset","reset")}} 
        <!-- Por medio del <script> simpson.js acá se generan las cards para cada uno de los personajes --> 
    </section>

    {% block modalDelete %}
        {% include "components/_modal-delete-simpson.njk" %}
    {% endblock %}

{% endblock %}

{# footer específico de la página #}

{% block js %}
    {# Bloque de estilos especificos de éstá página #}
    <script type="text/javascript" src="content/js/simpson.js"></script>
{% endblock %}