// -----------------------------------------------------------------------------
// This file contains all styles related to the layout/footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    max-width: $max-width;
    width: 100%;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bs-gray;
    z-index: 2000;

    .footer_text {
    }
}