/* _loader-simpson.scss */
/* Loader para el desafío-simpsons */

.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: $bs-black-op50;
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.loader-none {
    display: none;
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif {
    margin: 0 0 10px 0;
    width: 17vh;
    border-radius: 50%;
}

.loading {
    font-family: "Simpson";
    font-size: $fs-28;
    font-weight: $fw-600;
    text-transform: capitalize;
    color: $yellowSimpson;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    &::after {
        display: inline-block;
        animation: dotty steps(1, end) 1.2s infinite;
        content: '';
    }

        @keyframes dotty {
            0% {
                content: '';
            }
            25% {
                content: '.';
            }
            50% {
                content: '..';
            }
            75% {
                content: '...';
            }
            100% {
                content: '';
            }
        }
}

@media (min-width: 560px) {

    .gif {
        width: 30vh;
        margin: 0 0 10px 0;
    }

    .loading {
        font-size: 1.7rem;
    }
}

@media (min-width: 768px) {

    .gif {
        width: 25vh;
        margin: 0 0 20px 0;
    }

    .loading {
        font-size: 2.5rem;
    }
}