/* -simpson-header.scss */
/* Header del desafío simpsons */

.simpson__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: $max-width;
    height: 80px;
    background: $blueSimpson;

    .simpson__header__logo {
        width: 140px;
        object-fit: contain;
    }
}

@media (min-width: 560px) {

    .simpson__header {
        height: 90px;
        // background: $blue;

        .simpson__header__logo {
            width: 25%;
            object-fit: contain;
        }
    }
}

@media (min-width: 768px) {

    .simpson__header {
            height: 100px;
            // background: $blue;
    
        .simpson__header__logo {
            width: 180px;
            object-fit: contain;
        }
    }

}