{# "partials/login/_login-section.njk" #}

<h3 class="form__title">Inicia sesión con tu usuario</h3>
<span class="form__subtitle">Completa tu email y contraseña</span>
<section class="form__content">
<form action="" class="mrg__b--16 needs-validation" novalidate>
        {{ inputs.floatingLabels (type="email", id="email", "form__inputs mrg__b--28", "", "Correo electrónico", "Ingrese correo electrónico") }}
        {{ inputs.floatingLabels (type="password", id="password", "form__inputs mrg__b--42", "",  "Contraseña", "Ingrese contraseña") }}
        {{ buttons.simpleButton(type="submit", "form__button", "iniciar sesión") }}
</form>
    {{ buttons.linkButton("#","form__password mrg__b--16","olvidé mi contraseña")}}
</section>  