{# "partials/login/_login-social.njk" #}

<section class="form__content">
    {{ buttons.loginButton(type="button", "form__button--social mrg__b--16", class="google-icon", "Continua con Google") }}
    {{ buttons.loginButton(type="button", "form__button--social mrg__b--16", class="facebook-icon", "Continua con Facebook") }}
    {{ buttons.loginButton(type="button", "form__button--social", class="apple-icon", "Continua con Apple") }}
</section>  