.form__content {
    max-width: $wd-354;
    width: 100%;
}

.form__button--social {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $bs-black;
    border-radius: 20px;
    color: $bs-black;
    background: $white;
}

.google-icon {
    position: absolute;
    left: 18px;
    background: url("../img/icons/google-icon.svg") no-repeat;
    width: 18px;
    height: 19px;
}

.facebook-icon {
    position: absolute;
    left: 18px;
    background: url("../img/icons/facebook-icon.svg") no-repeat;
    width: 18px;
    height: 19px;
}

.apple-icon {
    position: absolute;
    left: 18px;
    background: url("../img/icons/apple-icon.svg") no-repeat;
    width: 18px;
    height: 19px;
}