.form__title {
    margin-bottom: $m10;
    font-size: $fs-28;
    line-height: $lh-34;
    color: $bs-black;
}

.form__subtitle {
    margin-bottom: $m16;
    font-size: $fs-16;
    color: $bs-dark-gray;
}

.form__content {
    max-width: $wd-354;
    width: 100%;
    // height: 226px;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto;
    // grid-gap: $m28;
}

.form__inputs {
    position: relative;
    right: 9px;
}

.form__button {
    width: 100%;
    height: 40px;
    border: 1px solid $lipstick;
    border-radius: 20px;
    background-color: $white;
    color: $lipstick;
    font-size: $fs-10;
    font-weight: $fw-700;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
        color: $lipstick;
    }
}

.form__password {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $wd-200;
    height: 40px;
    margin: 0 auto;
    font-size: $fs-10;
    font-weight: $fw-600;
    color: $bs-darky;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: $bs-darky;
    }
}

.mrg__b--16 {
    margin-bottom: $m16;
}

.mrg__b--28 {
    margin-bottom: $m28;
}

.mrg__b--42 {
    margin-bottom: $m42;
}