<article class="cards">
    <a class="cards__link" href="{{ card.card_link }}" role="button"></a>
    <h6 class="cards__title">{{ card.card_title }}</h6>
    <p class="cards__subtitle">{{ card.card_subtitle }}</p>
    <span class="cards__text">{{ card.card_text }}</span>
    <p class="cards_arrow"></p>
</article>