<form class="inputs__container needs-validation" novalidate>
    <section class="inputs__column">
        {{inputs.floatingLabels (type="text", id="label", "", "", "Nombre","Nombre", "Ingresa tu nombre")}}
        {{inputs.floatingLabels (type="text", id="label", "",  "", "Apellido", "Apellido", "Ingresa tu apellido")}}  
        {{inputs.floatingLabels (type="date", id="label", "",  "", "Fecha", "Fecha", "Ingresa la fecha")}}   
        {{inputs.floatingLabels (type="number", id="label", "",  "", "Télefono", "Teléfono", "Ingresa teléfono" )}}
    </section>
    <section class="inputs__column">
        {{inputs.floatingLabels (type="text", id="label", "",  "", "Número de identificación", "Número de identificación", "Ingresa número de identificación")}}
        {{inputs.floatingLabels (type="month", id="label", "",  "", "Código país", "Código país", "Ingrese código país" )}}
        {{inputs.floatingLabels (type="time", id="label", "",  "", "País", "País", "Ingrese país" )}}
        {{inputs.floatingLabels (type="submit", id="label", "",  "", "Fecha de nacimiento", "Fecha de nacimiento", "Ingrese fecha de nacimiento")}}
    </section>
</form> 